{%  extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block content %}
    <h1>Login</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-lg btn-primary">{% translate 'Sign in' %}</button>
    </form>
{% endblock content %}