main > .container {
  padding: 60px 0 0;
}

.navbar-brand > span {
  font-weight: 600;
  color: #cd1811;
  text-shadow: 1px 1px 1px #ccc;
}

.navbar-brand > strong {
  color: black;
  text-shadow: -2px -2px 2px white;
}
