{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate 'About Us' %} · {{ block.super }}{% endblock title %}

{% block content %}
    <h1>About booksales.al</h1>
    <article>
        <header>
            <h2>booksales.al History</h2>
        </header>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem blanditiis commodi dignissimos, distinctio doloribus eaque id maiores modi, nulla obcaecati quis. Autem commodi libero neque odit provident voluptatem?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A earum necessitatibus obcaecati placeat suscipit voluptates! Modi nihil nostrum nulla odit saepe suscipit. Consectetur, deserunt dolor enim eos necessitatibus saepe suscipit.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nostrum sunt temporibus. Ad alias, aspernatur deleniti dicta dolor et excepturi illo ipsam natus omnis praesentium quisquam rem tempore, veritatis vitae.
            </p>
        </div>
    </article>
{% endblock content %}