{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% translate 'Contact Us' %} · {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Contact Us</h1>
    <address>
        Rruga Diku Andej, nr 22<br>
        Tirane, AL<br>
        1001
    </address>
    <p>Tel: <b>+355 4 56 789</b></p>
{% endblock content %}