{% extends "base.html" %}

{% load i18n %}

{% block title %}Privacy Policy - {{ block.super }}{% endblock title %}

{% block content %}
    <h1>Privacy Policy</h1>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur delectus illum quae, quisquam sunt vitae? Ad animi, consequuntur dolorem dolorum eos id ipsa necessitatibus nulla quas sit suscipit tenetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur delectus illum quae, quisquam sunt vitae? Ad animi, consequuntur dolorem dolorum eos id ipsa necessitatibus nulla quas sit suscipit tenetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur delectus illum quae, quisquam sunt vitae? Ad animi, consequuntur dolorem dolorum eos id ipsa necessitatibus nulla quas sit suscipit tenetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur delectus illum quae, quisquam sunt vitae? Ad animi, consequuntur dolorem dolorum eos id ipsa necessitatibus nulla quas sit suscipit tenetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur delectus illum quae, quisquam sunt vitae? Ad animi, consequuntur dolorem dolorum eos id ipsa necessitatibus nulla quas sit suscipit tenetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur delectus illum quae, quisquam sunt vitae? Ad animi, consequuntur dolorem dolorum eos id ipsa necessitatibus nulla quas sit suscipit tenetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur delectus illum quae, quisquam sunt vitae? Ad animi, consequuntur dolorem dolorum eos id ipsa necessitatibus nulla quas sit suscipit tenetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, assumenda consequatur culpa hic, illum incidunt minus modi necessitatibus nobis officiis, quasi reiciendis tempore temporibus unde voluptas? Explicabo rem totam vitae.</p>
    </article>
{% endblock content %}