{% extends "base.html" %}

{% load i18n %}

{% block title %}Terms & Conditions - {{ block.super }}{% endblock title %}

{% block content %}
    <h1>Terms and Conditions</h1>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquam assumenda corporis eaque inventore itaque labore molestiae possimus provident quia tenetur ut velit? Corporis dolores fuga, laborum officia rerum similique.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolore esse inventore ipsam officiis quia ratione sint. Ad aperiam culpa, dolorum impedit officia optio porro quibusdam quo quod sequi, unde.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet debitis distinctio enim non ut. Accusantium amet doloremque, dolores ducimus ipsam ipsum, magnam nemo provident quia, reiciendis vel voluptatem voluptates voluptatibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi atque dolore ea esse ex, iusto magni maiores nam natus necessitatibus nobis obcaecati omnis quidem ratione repudiandae voluptates! At, doloribus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi itaque modi nemo officia officiis! Alias blanditiis dolorem doloribus error inventore ipsum, iusto molestias numquam odio quibusdam saepe tempore, ullam veniam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eum, eveniet harum ipsa itaque mollitia obcaecati saepe. Amet distinctio dolor impedit incidunt nulla odio quisquam ut! Adipisci ea quae qui!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis cum, dicta dolorem impedit in neque quas quibusdam quis quisquam! Dolores explicabo fugiat qui quibusdam quo reiciendis tenetur totam voluptatem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus deleniti, dolore fuga ipsam iste praesentium quae rem? Ad animi deleniti doloremque et, harum ipsum obcaecati ratione sit veritatis vitae? Laborum.</p>
    </article>
{% endblock content %}