<!doctype html>{% load i18n static %}
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Gledi">
  <title>{% block title %}Textbooks on sale · BookSales.al{% endblock title %}</title>
  {% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  {% endblock styles %}
  {% block extrastyles %}{% endblock extrastyles %}
</head>
<body class="d-flex flex-column h-100">
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <span>BookSales</span><strong>.al</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
               href="{% url 'home' %}">{% translate 'Home' %}</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'book_map' %}" class="nav-link">{% translate 'Books' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">{% translate 'About us' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">{% translate 'Contact us' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'privacy' %}">{% translate 'Privacy Policy' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'terms' %}">{% translate 'Terms & Conditions' %}</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="">{% translate 'Profile' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">{% translate 'Sign out' %}</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-lg btn-success" href="{% url 'book_add' %}">
                <i class="bi bi-journal-plus"></i>
                {% translate 'Add Book' %}
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="" class="nav-link">{% translate 'Register' %}</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link">{% translate 'Sign In' %}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="flex-shrink-0">
  <div class="container">
    {% if messages %}
    <section class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </section>
    {% endif %}
    {% block content %}{% endblock content %}
  </div>
</main>

<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <p class="text-center text-body-secondary m-0 pb-0">&copy; BookSales.al &mdash; 2024</p>
  </div>
</footer>
{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
{% endblock scripts %}
{% block extrascripts %}{% endblock extrascripts %}
</body>
</html>
