{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}Add new Book - {{ block.super }}{% endblock title %}

{% block content %}
<h1>{% if book %}Edit <i>{{ book.name }}</i>{% else %}Add new Book{% endif %}</h1>
<form action="" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-lg btn-primary">Add</button>
</form>
{% endblock content %}
