{% extends "base.html" %}

{% load i18n static %}

{% block title %}{% translate 'Books' %} • {{ block.super }}{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.css">
<style>
  #map {
    min-height: 720px;
    width: 100%;
  }
</style>
{% endblock extrastyles %}

{% block content %}
<h1>{% translate 'Available Books' %}</h1>
<div id="map"></div>
{% endblock content %}

{% block extrascripts %}
{{ markers|json_script:"markers-data" }}
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.js"></script>
<script src="{% static 'books/scripts/map.js' %}"></script>
{% endblock extrascripts %}