{% extends "base.html" %}

{% load i18n static bookhelpers %}

{% block title %}{{ book.name }} • {{ block.super }}{% endblock title %}

{% block content %}
  <article>
    <header class="d-flex justify-content-between align-items-center">
      <h1>{{ book.name }}</h1>
      <div>
        <a href="{% url 'book_edit' pk=book.pk %}" class="btn btn-secondary">
          <i class="bi bi-journal-code"></i>
          {% translate 'Modify' %}
        </a>
        <a href="{% url 'book_delete' pk=book.pk %}" class="btn btn-danger">
          <i class="bi bi-journal-minus"></i>
          {% translate 'Remove' %}
        </a>
      </div>
    </header>
    <p>
      <i class="bi bi-person"></i> <a href="{% url 'user_books' user_id=book.user_id %}" class="fw-semibold">{{ book.user.get_full_name }}</a>
      <i class="bi bi-telephone"></i> {{ book.user.phone|plusify }}</h6>
    </p>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <figure class="position-relative mb-0">
            <img src="{% if book.cover %}{{ book.cover_lg.url }}{% endif %}"
                 class="img-fluid rounded-start h-100" alt="{{ book.title }}">
            <figcaption class="position-absolute bottom-0 text-muted">{{ book.title }}</figcaption>
          </figure>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">
              <a href="" class="text-decoration-none">{{ book.title }}</a>
            </h3>
            <p class="card-text">{% translate 'by' %} {{ book.author }}</p>
            <h4
              class="card-subtitle mb-2 text-body-secondary d-flex justify-content-between align-items-center">
              {% translate 'Price' %}: {{ book.price|floatformat:"-3g" }} L
              <button id="btn-buy" class="btn btn-lg btn-primary">
                <i class="bi bi-cash-stack"></i>
                {% translate 'Buy' %}
              </button>
            </h4>
            <p class="card-text">{{ book.description|urlize|linebreaksbr }}</p>
            <p class="card-text"><small class="text-body-secondary"></small></p>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
{% block scripts %}
  {{ block.super }}
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const pubKeyUrl = "{% url 'pub_key' %}";
    const checkoutSessionUrl = "{% url 'checkout_session' pk=book.pk %}";
  </script>
  <script src="{% static 'books/scripts/payments.js' %}"></script>
{% endblock scripts %}