{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h1>{% translate 'Books for sale' %}</h1>
  {% if is_paginated %}
    <nav aria-label="{% translate 'Paged navigation' %}">
      <p class="text-center">
        Books <strong>{{ page_obj.start_index }}</strong> to
        <strong>{{ page_obj.end_index }}</strong> of <strong>{{ paginator.count }}</strong>
      </p>
      <ul class="pagination pagination-lg justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
              &laquo;
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a href="#" class="page-link" onclick="return false">&laquo;</a>
          </li>
        {% endif %}
        {% for page in pages %}
          {% if page == paginator.ELLIPSIS %}
            <li class="page-item disabled">
              <a href="#" class="page-link" onclick="return false">&hellip;</a>
            </li>
          {% elif page == page_obj.number %}
            <li class="page-item active">
              <a class="page-link" href="#" onclick="return false">{{ page }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
              &raquo;
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a href="#" class="page-link" onclick="return false">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  <section class="d-flex flex-wrap justify-content-between">
    {% for book in book_list %}
      <div class="card flex-shrink-0 mb-2" style="width: 49.5%;">
        <img src="{{ book.cover_sm.url }}" class="card-img-top" width="180" height="240" alt="{{ book.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ book.name }}</h5>
          <h6 class="card-subtitle">{{ book.price|floatformat:"-3g" }} L</h6>
          <p class="card-text">{{ book.description|urlize|linebreaksbr }}</p>
          <a href="{% url 'book_detail' pk=book.pk %}" class="btn btn-primary">View book</a>
        </div>
      </div>
    {% empty %}
      <div class="alert alert-warn">No books have been uploaded yet!</div>
    {% endfor %}
  </section>
{% endblock content %}