{% extends "base.html" %}

{% load i18n %}

{% block title %}Are you sure? - {{ block.super }}{% endblock title %}

{% block content %}
<h1>Are you sure you want to delete your post?</h1>
<form action="" method="post">
    {% csrf_token %}
    <p class="alert-danger">Are you sure you want to delete <em>{{ book.name }}</em></p>
    <button type="submit">Yes, sure</button>
</form>
{% endblock %}