{%  extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>Insecure Login</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="password" name="password">
        <button type="submit">Login</button>
    </form>
{% endblock content %}